<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/static/css/active_quests.css">
    <link rel="stylesheet" type="text/css" href="/static/css/student_panel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <meta charset="utf-8">
    <title>Student page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

  </head>
  <body>
  {% include "student_panel.twig" %}
    <div class="content">
      <h2>Active quests</h2>
      <div id="table">
        <div class="row" id="tableheading">
          <div class="cell">Id</div>
          <div class="cell">Quest name</div>
          <div class="cell">Start date</div>
          <div class="cell">Status</div>
          <div class="cell"></div>
        </div>
          {%  for entry in questsList %}
            <div class="row">
              <div class="cell"></div>
              <div class="cell">{{ entry.getKey().getId() }}</div>
              <div class="cell">{{ entry.getKey().getName() }}</div>
              <div class="cell">{{ entry.getValue() }}</div>
              <div class="cell">{{ entry.getKey().getStatus() }}</div>
              <div class="cell">
              <form method="POST">
                <input class="use-button button" type="submit" value="Mark as done" name="{{ entry.getKey().getId() }}">
              </form>
              </div>
            </div>
          {% endfor %}
      </div>
      <h4>{{ operationStatus }}</h4>
    </div>
  </body>
  </html>