<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/student_panel.css">
    <link rel="stylesheet" href="/static/css/available_quests.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <meta charset="utf-8">
    <title>Student page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </head>
  <body>
  {% include "student_panel.twig" %}
     <div class="content">
      <h2>Available Quests</h2>
      <div id="table">
        <div class="row" id="tableheading">
          <div class="cell">Id</div>
          <div class="cell">Type</div>
          <div class="cell">Name</div>
          <div class="cell">Description</div>
          <div class="cell">Reward</div>
          <div class="cell">Status</div>
          <div class="cell"></div>
        </div>
        {% for quest in questsList %}
        <div class="row">
            <div class="cell">{{ quest.getId() }}</div>
            <div class="cell">{{ quest.getType() }}</div>
            <div class="cell">{{ quest.getName() }}</div>
            <div class="cell">{{ quest.getDescription() }}</div>
            <div class="cell">{{ quest.getReward() }}</div>
            <div class="cell">{{ quest.getStatus() }}</div>
            <div class="cell">
              <form method="POST">
                  <a></a><input class="button" type="submit" value="Take Quest!" name="{{ quest.getId }}">
              </form>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
  </body>
</html>